.dropdown {
  position: relative;
  &__menu {
    display: none;
    grid-gap: 0.5rem;
    position: absolute;
    width: 100%;
    z-index: 100;
    background-color: #fff;
    padding: 0.5rem;
    padding-left: 1.07rem;
    border: 1px solid $primary-medium;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 10px 20px 0 rgba($primary-very-dark, 0.05);
  }
  &_menu_open {
    .dropdown__menu {
      display: grid;
    }
  }
  &__item {
    &-label {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.86rem;
      color: $primary-very-dark;
      display: grid;
      grid-template-columns: 1fr 2.14rem 2.29rem 2.14rem;
      align-items: center;
    }
    &-input {
      text-align: center;
      font-size: 0.86rem;
      font-weight: 700;
      border: none;
    }
  }
  &__button-minus, &__button-plus {
    width: 2.14rem;
    height: 2.14rem;
    background-color: transparent;
    border: 1px solid $primary-light;
    border-radius: 50%;
    color: $primary-medium;
    font-size: 1.29rem;
    &:disabled {
      opacity: 0.38;
      pointer-events: none;
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 0.7rem;
    padding-bottom: 0.08rem;
  }
  &__button {
    &_reset, &_apply {
      
    }
  }
}