include ../../components/input/input
include ../../components/button/button

mixin dropdown(options = {})
  -
    const {
      type = "guests",
      label = undefined,
      open = false,
      adultsDefaultCount = 0,
      adultsMinCount = 0,
      adultsMaxCount = 7,
      childrenDefaultCount = 0,
      childrenMinCount = 0,
      childrenMaxCount = 7,
      babiesDefaultCount = 0,
      babiesMinCount = 0,
      babiesMaxCount = 7,
      bedroomsDefaultCount = 1,
      bedroomsMinCount = 0,
      bedroomsMaxCount = 3,
      bedsDefaultCount = 1,
      bedsMinCount = 0,
      bedsMaxCount = 7,
      bathroomsDefaultCount = 1,
      bathroomsMinCount = 0,
      bathroomsMaxCount = 3
    } = options

  - const possibleTypes = ["guests", "facilities"] 
  if (!possibleTypes.includes(type))
    - type = "guests"

  - const blockModifier = open ? "dropdown_menu_open" : ""

  - const views = ["arrow_down", "clickable"]

  if (open) 
    - views.push("bottom_flat", "focused")
    
  - const items = getItems()
  - 
    function getItems() {
      if (type === "guests")
        return [
          {
            label: "взрослые",
            defaultCount: adultsDefaultCount,
            minCount: adultsMinCount,
            maxCount: adultsMaxCount 
          },
          {
            label: "дети",
            defaultCount: childrenDefaultCount,
            minCount: childrenMinCount,
            maxCount: childrenMaxCount
          },
          {
            label: "младенцы",
            defaultCount: babiesDefaultCount,
            minCount: babiesMinCount,
            maxCount: babiesMaxCount
          }
        ]
      if (type === "facilities")
        return [
          {
            label: "спальни",
            defaultCount: bedroomsDefaultCount,
            minCount: bedroomsMinCount,
            maxCount: bedroomsMaxCount 
          },
          {
            label: "кровати",
            defaultCount: bedsDefaultCount,
            minCount: bedsMinCount,
            maxCount: bedsMaxCount
          },
          {
            label: "ванные комнаты",
            defaultCount: bathroomsDefaultCount,
            minCount: bathroomsMinCount,
            maxCount: bathroomsMaxCount
          }
        ]
    }    

  .dropdown.js-dropdown(
    class = blockModifier
    data-type = type
  )
    .dropdown__output.js-dropdown__output
      +input({
        views: views,
        type: "text",
        label: label,
        readonly: true
      })
    .dropdown__menu
      each item in items
        .dropdown__item.js-dropdown__item(
          data-default-count = item.defaultCount
          data-min-count = item.minCount
          data-max-count = item.maxCount
        )
          .dropdown__item-label= item.label
          button.dropdown__button-minus.js-dropdown__button-minus(
            type = "button"
          )= "-"
          input.dropdown__item-input.js-dropdown__item-input(
            value = item.defaultCount || item.minCount || 0
            readonly
          )
          button.dropdown__button-plus.js-dropdown__button-plus(
            type = "button"
          )= "+"   
      .dropdown__button-reset.js-dropdown__button-reset
        +button({
          text: "Очистить"
        })     
      .dropdown__button-apply.js-dropdown__button-apply  
        +button({
          text: "Применить"
        })