@import '../../styles/variables.scss';
@import '../button/button.scss';

.dropdown {
  position: relative;
  &__menu {
    display: none;
    grid: {
      template-columns: 1fr 1fr;
      gap: 0.5rem;
    }    
    position: absolute;
    width: 100%;
    z-index: 100;
    background-color: #fff;
    padding: 0.5rem {
      left: 1.07rem;
    }    
    border: 1px solid $primary-medium {
      top: none;
      bottom-left-radius: 4px;
      bottom-right-radius: 4px;
    }
    -webkit-box-shadow: 0 10px 20px 0 rgba($primary-very-dark, 0.05);
            box-shadow: 0 10px 20px 0 rgba($primary-very-dark, 0.05);
  }
  &_menu_open {
    .dropdown__menu {
      display: grid;
    }
  }
  &__item {
    display: grid;
    grid: {
      column: 1/-1;
      template-columns: 1fr 2.14rem 2.29rem 2.14rem;
    }
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  &__item-label {
    text-transform: uppercase;
    font: {
      weight: 700;
      size: 0.86rem;
    }
    color: $primary-very-dark;
  }
  &__item-input {
    text-align: center;
    font: {
      size: 0.86rem;
      weight: 700;
      family: inherit;
    }
    border: none;
  }
  &__button-minus, &__button-plus {
    width: 2.14rem;
    height: 2.14rem;
    background-color: transparent;
    border: 1px solid $primary-light {
      radius: 50%; 
    }
    color: $primary-medium;
    font-size: 1.29rem;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    &:disabled {
      opacity: 0.38;
      pointer-events: none;
    }
  }
  &__button-reset, &__button-apply {
    padding: {
      top: 0.7rem;
      bottom: 0.08rem;
    }
    display: none;
    &:disabled {
      opacity: 0.38;
    }
  }
  &__button-reset {
    grid-column: 1/2;
  }
  &__button-apply {
    grid-column: 2/3;
    text-align: right;
  }
}