@import '../../theme/variables.scss';

.card-room {
  display: grid;
  grid-template-rows: 10.81rem auto;
  padding: 0;
  border: none;
  box-shadow: 0 10px 20px $primary-very-light;
  &__slider {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    overflow: hidden;
  }
  &__info {
    padding: 1.55rem; 
    padding-top: 1.28rem;
    padding-bottom: 1.25rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 0.55rem;
    align-items: baseline;
  }
  &__number {
    font-size: 1.29rem;
    &-container {
      font-family: 'Open Sans', 'Arial', sans-serif;
      font-weight: 700;
      color: $primary-very-dark;
    }
  }
  &__lux {
    text-transform: uppercase;
    font-size: 0.86rem;
    font-family: 'Montserrat', 'Arial', sans-serif;
    color: $accent-main;
  }
  &__price {
    font-size: 1rem;
    font-weight: 700;
    &-container {
      text-align: right;
      font-size: 0.86rem; 
      color: $primary-medium;
    }
  }
  &__hr {
    grid-column: 1/-1;
    background-color: rgba($primary-very-dark, 0.1);
    height: 1px;
  }
  &__comments {
    &-container {
      text-align: right;
      color: $primary-medium;
    }
    &-number {
      font-weight: 700;
    }
  }
  
  .slick {
    &-slider {
      margin-bottom: 0;
      position: relative;
      &:hover {
        .slick-arrow {
          opacity: 1;
        }
      }
    }
    &-arrow {
      position: absolute;
      top: 0;
      z-index: 1;
      font-size: 0;
      height: 100%;
      width: 3rem;
      border: none;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      &:focus {
        outline: none;
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 0.64rem;
        height: 0.64rem;
        top: calc(50% - 0.32rem);
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
      }
    }
    &-prev {
      left: 0;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);  
      &::before {
        left: 1.43rem;
        transform: rotate(-45deg);
      }
    }
    &-next {
      right: 0;
      background: linear-gradient(-90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
      &::before {
        right: 1.43rem;
        transform: rotate(135deg);
      }
    }
    &-dots {
      position: absolute;
      right: 1.07rem;
      bottom: 1.07rem;
      display: flex;
      list-style-type: none;
      z-index: 2;
      li {
        display: block;
        margin-left: 0.27rem;
        font-size: 0;
        &:focus {
          outline: none;
        }
        &.slick-active {
          button {
            background-color: #fff;
          }
        }
        button {
          width: 0.54rem;
          height: 0.54rem;
          background-color: transparent;
          border: 1px solid #fff;
          border-radius: 50%;
          font-size: 0;
          box-shadow: 0 5px 5px rgba($primary-very-dark, 0.3);
          cursor: pointer;
          &:focus {
            outline: none;
          }
          &::before {
            display: none !important;
          }
        }
      }      
    }
  }  
}

