//-
  options.images - массив путей к изображениям для слайдера
  options.number - номер комнаты
  options.lux - является ли комната люксом (true/false, можно не указывать, если false)
  options.price - цена за сутки
  options.rate - рейтинг (0 - 5, по умолчанию 0)
  options.comments - количество отзывов (по умолчанию 0)

include ../../components/rate/rate

- function prettifyPrice(num)
  - let n = num.toString()
  - return n.replace(/(\d{1,3}(?=(?:\d\d\d)+(?!\d)))/g, "$1" + " ")

mixin card-room(options)

  - let commentsNumber = options.comments || 0 

  .card-room.js-card-room
    .card-room__slider.js-card-room__slider
      each img in options.images
        img.card-room__img(
          src = img
          alt = "Фото номера"
          width = 271
          height = 152
        )
    .card-room__info
      .card-room__number-container
        span.card-room__number-sign= "№ "
        span.card-room__number= options.number + " "
          if (options.lux)
            span.card-room__lux люкс
      .card-room__price-container   
        span.card-room__price !{prettifyPrice(options.price)}₽ 
        span в сутки
      .card-room__hr
      +rate({
        value: options.rate
      })
      .card-room__comments-container
        span.card-room__comments-number.js-card-room__comments-number= commentsNumber + " "
        span.card-room__comments-word.js-card-room__comments-word Отзывов
        
        