extends ../../layouts/base

block variables
  -
    const title = "Room details"
    const description = "Номер высшей категории \"Люкс\" с большой кроватью (King size)."
    const keywords = "сведения о номере, забронировать номер"
    const bodyClass = "room-details"

block content

  include ../../components/icon-list/icon-list
  include ../../components/card-booking/card-booking
  include ../../components/comment/comment
  include ../../components/bullet-list/bullet-list
  include ../../components/diagram/diagram
  
  main
    .room-details__gallery
      .room-details__gallery-item.room-details__gallery-item1 
        img(class="room-details__gallery-img" src=require("../../../public/img/photo1.jpg") alt="Фото номера" width="1024" height="683")
      .room-details__gallery-item.room-details__gallery-item2 
        img(class="room-details__gallery-img" src=require("../../../public/img/photo2.jpg") alt="Фото номера" width="1000" height="667")
      .room-details__gallery-item.room-details__gallery-item3 
        img(class="room-details__gallery-img" src=require("../../../public/img/photo3.jpg") alt="Фото номера" width="720" height="355")
    .room-details__container
      .room-details__icon-list
        h2.room-details__h2.room-details__icon-list-h2 Сведения о номере
        +icon-list({
          items: [
            {
              icon: require("../../../public/img/emoticon.svg"),
              label: "Комфорт",
              sublabel: "Шумопоглощающие стены"
            },
            {
              icon: require("../../../public/img/city.svg"),
              label: "Удобство",
              sublabel: "Окно в каждой из спален"
            },
            {
              icon: require("../../../public/img/whatshot.svg"),
              label: "Уют",
              sublabel: "Номер оснащён камином"
            }
          ]
        })
        
      .room-details__diagram  
        h2.room-details__h2.room-details__diagram-h2 Впечатления от номера
        
        +diagram({
          great: 130,
          good: 65,
          alright: 65
        })
        
      .room-details__card-booking
        +card-booking({
          number: 888,
          lux: true,
          price: 9990,
          adults: 3,
          serviceFee: 0,
          discount: 2179,
          additionalServiceFee: 300,
          arrival: "2021-08-19",
          departure: "2021-08-23"
        })
        
      .room-details__reviews
        h2.room-details__h2 Отзывы посетителей номера
        span.room-details__comments-number.js-room-details__comments-number 2 отзыва
        .room-details__comment.js-room-details__comment
          +comment({
            avatar: require("../../../public/img/avatar1.jpg"),
            name: "Мурад Сарафанов",
            date: "2021-01-11",
            like: {
              value: 12,
              checked: true              
            },
            text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."
          })
        .room-details__comment.js-room-details__comment 
          +comment({
            avatar: require("../../../public/img/avatar2.jpg"),
            name: "Патрисия Стёклышкова",
            date: "2020-01-06",
            like: {
              value: 2             
            },
            text: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент"
          })

      .room-details__bullet-list
        h2.room-details__h2 Правила
        +bullet-list({
          items: [
            "Нельзя с питомцами",
            "Без вечеринок и мероприятий",
            "Время прибытия — после 13:00, <br>а выезд до 12:00"
          ]
        }) 
        
      .room-details__cancel
          h2.room-details__h2 Отмена
          p Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.