extends ../../../layouts/empty

block variables
  -
    const title = "Headers & Footers"
    const description = "UI Kit TOXIN: шапка и подвал"
    const keywords = "UI Kit, шапка, подвал"
    const bodyClass = "ui-kit-page headers-and-footers-page"

block body
  include ../../../components/header/header
  include ../../../components/footer/footer

  +header
  
  +header({
    loggedIn: true,
    userName: 'Юлий Цезарь'
  })
  
  +footer