extends ../../../layouts/empty

block variables
  -
    const title = "Headers & Footers"
    const description = "UI Kit TOXIN: шапка и подвал"
    const keywords = "UI Kit, шапка, подвал"
    const bodyClass = "ui-kit-page headers-and-footers-page"

block body
  include ../../../components/header/header
  include ../../../components/footer/footer

  +header({
    links: [
      {
        title: "О нас",
        href: "/mock-address/change-me"
      },
      {
        title: "Услуги",
        children: [
          {
            title: "Трансфер",
            href: "/mock-address/change-me"
          },
          {
            title: "Экскурсии",
            href: "/mock-address/change-me"
          },
          {
            title: "Аренда бытовых приборов",
            href: "/mock-address/change-me"
          },
          {
            title: "Массаж",
            href: "/mock-address/change-me"
          }
        ]
      },
      {
        title: "Вакансии",
        href: "/mock-address/change-me"
      },
      {
        title: "Новости",
        href: "/mock-address/change-me"
      },
      {
        title: "Соглашения",
        children: [
          {
            title: "Соглашение 1",
            href: "/mock-address/change-me",
          },
          {
            title: "Соглашение 2",
            href: "/mock-address/change-me",
          },
          {
            title: "Соглашение 3",
            href: "/mock-address/change-me",
          }
        ]
      }
    ]
  })
  
  +header({
    loggedIn: true,
    userName: "Юлий Цезарь",
    links: [
      {
        title: "О нас",
        href: "/mock-address/change-me"
      },
      {
        title: "Услуги",
        children: [
          {
            title: "Трансфер",
            href: "/mock-address/change-me"
          },
          {
            title: "Экскурсии",
            href: "/mock-address/change-me"
          },
          {
            title: "Аренда бытовых приборов",
            href: "/mock-address/change-me"
          },
          {
            title: "Массаж",
            href: "/mock-address/change-me"
          }
        ]
      },
      {
        title: "Вакансии",
        href: "/mock-address/change-me"
      },
      {
        title: "Новости",
        href: "/mock-address/change-me"
      },
      {
        title: "Соглашения",
        children: [
          {
            title: "Соглашение 1",
            href: "/mock-address/change-me",
          },
          {
            title: "Соглашение 2",
            href: "/mock-address/change-me",
          },
          {
            title: "Соглашение 3",
            href: "/mock-address/change-me",
          }
        ]
      }
    ]
  })
  
  +footer({
    textUnderLogo: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»",
    menu: [
      {
        heading: "Навигация",
        links: [
          {
            title: "О нас",
            href: "/mock-address/change-me"
          },
          {
            title: "Новости",
            href: "/mock-address/change-me"
          },
          {
            title: "Служба поддержки",
            href: "/mock-address/change-me"
          },
          {
            title: "Услуги",
            href: "/mock-address/change-me"
          }
        ]
      },
      {
        heading: "О нас",
        links: [
          {
            title: "О сервисе",
            href: "/mock-address/change-me"
          },
          {
            title: "Наша команда",
            href: "/mock-address/change-me"
          },
          {
            title: "Вакансии",
            href: "/mock-address/change-me"
          },
          {
            title: "Инвесторы",
            href: "/mock-address/change-me"
          }
        ]
      },
      {
        heading: "Служба поддержки",
        links: [
          {
            title: "Соглашения",
            href: "/mock-address/change-me"
          },
          {
            title: "Сообщества",
            href: "/mock-address/change-me"
          },
          {
            title: "Связь с нами",
            href: "/mock-address/change-me"
          }
        ]
      }
    ],
    subscriptionText: "Получайте специальные предложения и новости сервиса",
    copyright: "Copyright © 2018 Toxin отель. Все права зачищены.",
    socials: [
      {
        name: "Twitter",
        icon: require("../../../../public/img/twitter.svg"),
        href: "/mock-address/change-me"
      },
      {
        name: "Facebook",
        icon: require("../../../../public/img/facebook.svg"),
        href: "/mock-address/change-me"
      },
      {
        name: "Instagram",
        icon: require("../../../../public/img/instagram.svg"),
        href: "/mock-address/change-me"
      }
    ]
  })