include ../../components/checklist/checklist

mixin expandable-checklist(options = {})
  -
    const {
      title = "Expandable checkbox list",
      opened = false,
      items = [
        {label: "пункт 1", checked: true},
        {label: "пункт 2", checked: false},
        {label: "пункт 3", checked: true}
      ]
    } = options

  - let modifier
  if (opened)
   - modifier = "expandable-checklist_open"
   
  .expandable-checklist.js-expandable-checklist(class = modifier)
    .expandable-checklist__title.js-expandable-checklist__title= title
    .expandable-checklist__list
      +checklist({
        items: items,
        rowGap: "small"
      })
