include ../../components/checklist/checklist

mixin expandable-checklist(options)    
  - let modifier
  if (options.opened)
   - modifier = "expandable-checklist_open"
   
  .expandable-checklist(class = modifier)
    .expandable-checklist__title.h3= options.title
    +checklist({
      items: options.items,
      uniqueName: options.uniqueName,
      listClass: "expandable-checklist__list"
    })
