@import '../../theme/variables.scss';

.expandable-checklist {
  &__title {
    cursor: pointer;
    padding-bottom: 0.3rem;
    position: relative;
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 8px;
      height: 8px;
      border-bottom: 2px solid $primary-medium; 
      border-right: 2px solid $primary-medium; 
      right: 17px;
      top: 2px;
      transform: rotate(45deg);
    }
  }
  &__list {
    display: none;
  }
  &_open {
    .expandable-checklist__title {
      &::after {
        border: none;
        border-top: 2px solid $primary-medium;
        border-left: 2px solid $primary-medium;
        top: 6px;
      }
    }
    .expandable-checklist__list {
      display: grid;
    } 
  }
}