include ../../components/checklist/checklist

mixin expandable-checklist(options)    
  - let modifier
  if (options.opened)
   - modifier = "expandable-checklist_open"
   
  .expandable-checklist(class = modifier)
    .expandable-checklist__title.js-expandable-checklist__title.h3= options.title
    .expandable-checklist__list
      +checklist({
        items: options.items,
        uniqueName: options.uniqueName,
        listClass: "checklist__list_row-gap_small"
      })
