@import '../../styles/variables.scss';
@import '../../styles/mixins-and-templates.scss';

.paginationjs {
  display: flex;
  flex-direction: column;
  align-items: center;
  &-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  &-page, &-ellipsis {
    display: flex;
    width: 2.86rem;
    height: 2.86rem;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 0.86rem;
    cursor: pointer;
    a {
      color: $primary-medium;
      text-decoration: none;
    }
  }
  &-page {
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: $primary-very-light;
    }
    &.active {
      @include gradient;
        a {
          color: #fff;
          font-weight: 700;
        }
    }
  }
  &-prev, &-next {
    width: 2.86rem;
    height: 2.86rem;
    border-radius: 50%;
    background: {
      repeat: no-repeat;
      position: center;
      size: 45%, 100%; 
    }
    cursor: pointer;
  }
  &-prev {
    background-image:
      url(./img/arrow_backward.svg),
      linear-gradient(to bottom, $accent-secondary, $accent-secondary-additional);
  }
  &-next {
    background-image:
      url(./img/arrow_forward.svg),
      linear-gradient(to bottom, $accent-secondary, $accent-secondary-additional);
  }
  &-nav {
    margin-top: 0.65rem;
  }
}