doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title Landing page
  body.landing-page
    include ../../components/header/header
    include ../../components/footer/footer
    include ../../components/first-screen/first-screen

    +header
    
    +first-screen
    
    +footer