include ../../components/datepicker/datepicker
include ../../components/dropdown/dropdown
include ../../components/button/button

//-
  options.class - дополнительный класс

mixin card-find-room(options = {})
  .card-find-room(
    class = options.class
  )
    .card-find-room__title Найдём номера под ваши пожелания
    form.card-find-room__form
      +datepicker({
        inputClass: "date-start",
        label: "прибытие"
      })

      +datepicker({
        inputClass: "date-end",
        label: "выезд"
      })

      .card-find-room__dropdown
        +dropdown({
          label: "гости",
          type: "guests"
        })
      
      .card-find-room__button-submit
        +button({
          text: "Подобрать номер",
          type: "submit",
          view: ["fill", "width_full", "arrow_right"]
        })