@import '../../styles/mixins-and-templates.scss';

.card-find-room {
  @extend %card;
  &_over-image {
    @extend %card-over-image;
  }
  &__title {
    @extend %h1;
    margin-bottom: 1.3rem;
  }
  &__form {
    display: grid;
    grid: {
      template-columns: 1fr 1fr;
      column-gap: 1.43rem;
      row-gap: 1.3rem; 
    }
  }
  &__dropdown, &__button-submit {
    grid-column: 1/-1;
  }  
  &__button-submit {
    margin-top: 0.9rem;
  }
}