include ../../components/datepicker/datepicker
include ../../components/dropdown/dropdown
include ../../components/button/button

//-
  options.class - дополнительный класс (не рекомендуется)
  options.view - декоративная опция (пока доступно 1 значение - "over-image")

mixin card-find-room(options = {})
  - blockClass = options.class || ""

  if options.view
    - blockClass += blockClass ? ` card-find-room_${options.view}` : `card-find-room_${options.view}`

  form.card-find-room(class = blockClass)
    .card-find-room__title Найдём номера под ваши пожелания    
    +datepicker({
      type: "start",
      label: "прибытие"
    })
    +datepicker({
      type: "end",
      label: "выезд"
    })
    .card-find-room__guests
      +dropdown({
        label: "гости",
        type: "guests"
      })    
    .card-find-room__submit
      +button({
        text: "Подобрать номер",
        type: "submit",
        view: ["fill", "width_full", "arrow_right"]
      })