
mixin radio(options = {})
  -
    let {
      id = undefined,
      label = undefined,
      name = undefined,
      checked = false
    } = options

  .radio   
    input.radio__field(
      id = id
      type = "radio"
      name = name
      checked = checked
    )
    label.radio__label(
      for = id
    ) !{label}