.input {
  &__input {
    display: block;
    height: 3.14rem;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    width: 100%;
    color: $primary-dark;
    border: 1px solid $primary-light;
    border-radius: 4px;
    font-size: 1rem;
    &:hover,
    &:focus {
      border-color: $primary-medium;
      outline: none;
    }
    &[type='date'] {
      text-transform: uppercase;
    }
    &::placeholder {
      color: $primary-light;
    }
    &_checkbox, &_radio, &_toggle {
      width: auto;
      height: auto;
      position: absolute;
      z-index: -1;
      opacity: 0;
      & + label {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-column-gap: 10px;
        line-height: 1.3;
        &::before {
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          border: 1px solid $primary-light;
          transition: all 0.2s ease-in-out;
        }
        &::after {
          transition: all 0.2s ease-in-out;
        }
      }
    }
    &_checkbox {
      & + label::before {  
        border-radius: 4px;
      }
      &:checked + label::before {
        background-image: url(../components/input/img/check_mark.svg);
        background-repeat: no-repeat;
        background-position: center;
        border-color: $accent-main;
      }
      
    }
    &_radio {
      & + label::before {
        border-radius: 50%;
      }
      &:checked + label::before {
        background: linear-gradient(to bottom, $accent-main, $accent-main-additional);
        box-shadow: inset 0 0 0 3px #fff;
      }
    }
    &_toggle {
      & + label {
        position: relative;
      }
      & + label::before {
        width: 40px;
        border-radius: 10px;
        grid-row: 1/2;
        grid-column: 1/2;
      }
      & + label::after {
        content: '';
        display:  block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $primary-light;
        grid-row: 1/2;
        grid-column: 1/2;
        position: absolute;
        top: calc(50% - 6px);
        left: 4px;
      }
      &:checked + label::before {
        border-color: $accent-main;
      }
      &:checked + label::after {
        background: linear-gradient(to bottom, $accent-main, $accent-main-additional);
        left: 24px;
      }
    }
  }  
  &_arrow_down {
   position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 0.57rem;
      height: 0.57rem;
      border-left: 2px solid $primary-medium;
      border-bottom: 2px solid $primary-medium;
      transform: rotate(-45deg);
      bottom: 1.36rem;
      right: 1.07rem;
    }
    & input {
      padding-right: 2.5rem;
    }
  }
}