mixin input(options)
  .input(class = options.class)
    - var label = options.label
    - if (options.type === 'checkbox')
      input.input__input.input__input_checkbox(
        class = options.inputClass
        id = options.inputId
        type = options.type
        name = options.name
        tadindex = options.tabindex
        required = options.required
        value = options.value
        checked = options.checked
      )&attributes(options.attributes)
      label.input__label(
        for = options.inputId
      ) !{label}
    - else if (options.type === 'radio')
      input.input__input.input__input_radio(
        class = options.inputClass
        id = options.inputId
        type = options.type
        name = options.name
        tadindex = options.tabindex
        required = options.required
        value = options.value
        checked = options.checked
      )&attributes(options.attributes)
      label.input__label(
        for = options.inputId
      ) !{label}
    - else if (options.type === 'toggle')
      input.input__input.input__input_toggle(
        class = options.inputClass
        id = options.inputId
        type = 'checkbox'
        name = options.name
        tadindex = options.tabindex
        required = options.required
        value = options.value
        checked = options.checked
      )&attributes(options.attributes)
      label.input__label(
        for = options.inputId
      ) !{label}
    - else
      label.input__label.h3 !{label}
        input.input__input(
          class = options.inputClass
          id = options.inputId
          type = options.type
          name = options.name
          placeholder = options.placeholder
          pattern = options.pattern
          tadindex = options.tabindex
          required = options.required
          value = options.value
        )&attributes(options.attributes)