.input {
  &__input {
    display: block;
    height: 44px;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    width: 100%;
    border: 1px solid $primary-light;
    border-radius: 4px;
    font-size: 1rem;
    &:hover,
    &:focus {
      border-color: $primary-medium;
      outline: none;
    }
    &[type='date'] {
      text-transform: uppercase;
    }
  }  
}