mixin input(options)
  .input(class = options.class)
    label.input__label.h3= options.label
      input.input__input(
        class = options.inputClass,
        id = options.inputId,
        type = options.type
        name = options.name
        placeholder = options.placeholder
        pattern = options.pattern
        tadindex = options.tabindex
        required = options.required
        value = options.value
      )&attributes(options.attributes)