@import '../../styles/variables.scss';
@import '../../styles/mixins-and-templates.scss';

.input {
  &__field {
    display: block;
    height: 3.14rem;
    padding: {
      left: 1.1rem;
      right: 1.1rem;
    }    
    width: 100%;
    color: $primary-dark;
    border: 1px solid $primary-light {
      radius: 4px; 
    }
    font: {
      size: 1rem;
      family: inherit;
    }
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    &:hover, &_hovered,
    &:focus-visible, &_focused {
      outline: none;
      border-color: $primary-medium;
    }
    &::-webkit-input-placeholder {
      color: $primary-light;
    }
    &::-moz-placeholder {
      color: $primary-light;
    }
    &:-ms-input-placeholder {
      color: $primary-light;
    }
    &::-ms-input-placeholder {
      color: $primary-light;
    }
    &::placeholder {
      color: $primary-light;
    }
    &_bottom_flat {
      border: {
        bottom: {
          left-radius: 0;
          right-radius: 0;
        }
      }
    }
    &_clickable {
      cursor: pointer;
    }
  }
  &__label {
    @extend %h3;
  }
  &_arrow_down {
   position: relative;
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 0.57rem;
      height: 0.57rem;
      border: {
        left: 2px solid $primary-medium;
        bottom: 2px solid $primary-medium;
      }
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
      bottom: 1.3rem;
      right: 1.24rem;
      pointer-events: none;
    }
    & input {
      padding-right: 2.5rem;
    }
  }
  &_with-button {
    position: relative;
    .input__field {
      padding-right: 3.14rem;
    }
    .input__submit-button {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 3.14rem;
      height: 3.14rem;
      background: {
        color: transparent;
        image: url(./img/arrow_right.svg);
        repeat: no-repeat;
        position: center;
        size: 1.2rem;
      }
      border: none;
      cursor: pointer;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}