@import '../../styles/variables.scss';

.ui-kit-page {
  background: {
    image: url(img/logo-icon-grey.svg);
    repeat: no-repeat;
    position: top 30px left 30px; 
  }
  padding: {
    top: 140px;
    bottom: 140px; 
  }
}

.ui-kit-container {
  width: 1200px;
  padding: {
    left: 20px;
    right: 20px;
  }
  margin: {
    right: auto;
    left: auto; 
  }
}

