@import '../../styles/variables.scss';

.ui-kit-page {
  background: {
    image: url(img/logo-icon-grey.svg);
    repeat: no-repeat;
    position: top 30px left 30px; 
  }
  padding: {
    top: 140px;
    bottom: 140px; 
  }
  @include media-breakpoint-down($sm) {
    background-position: top 10px left 10px;
    padding-top: 100px;
  }
}

.ui-kit-container {
  min-width: 320px;
  max-width: 1200px;
  padding: {
    left: 20px;
    right: 20px;
  }
  margin: {
    right: auto;
    left: auto; 
  }
  @include media-breakpoint-down($sm) {
    padding: {
      left: 10px;
      right: 10px;
    }    
  }
}

