doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title Sign in
  body
    include ../../components/header/header
    include ../../components/footer/footer
    include ../../components/sign-in-screen/sign-in-screen

    +header
    
    +sign-in-screen
    
    +footer
    
    script(src="sign-in.js")