mixin button(options = {})
  - 
    const {
      tag = "button",
      text = "Click me",
      type = "button",
      view = undefined,
      disabled = false,
      href = undefined,
      hidden = false
    } = options

  - const classArray = ["button"]
  
  - const possibleViews = ["fill", "outline", "width_full", "arrow_right", "height_small"]

  if (view)
    if ( Array.isArray(view) )      
      - for (let item of view)
        if (possibleViews.includes(item))
          - classArray.push("button_" + item)
    else
      if (possibleViews.includes(view))
        - classArray.push("button_" + view)
    
  - const classList = classArray.join(" ")
  
  #{tag}(
    type = type,
    disabled = disabled,
    class = classList,
    href = href,
    hidden = hidden
  )
    span.button__text= text
    