mixin button(options = {})
  - 
    const {
      text = "Click me",
      type = "button",
      view = undefined,
      disabled = false,
      href = undefined
    } = options

  - const tag = href ? "a" : "button"  

  - const classArray = ["button"]
  
  - const possibleViews = ["fill", "outline", "width_full", "arrow_right", "height_small"]

  if (view)
    if ( Array.isArray(view) )
      each item in view
        if (possibleViews.includes(item))
          - classArray.push("button_" + item)
    else
      if (possibleViews.includes(view))
        - classArray.push("button_" + view)
    
  - const classList = classArray.join(" ")
  
  #{tag}(
    type = type,
    disabled = disabled,
    class = classList,
    href = href
  )
    span.button__text= text
    