//-
  options.tag - тэг ("a", "button")
  options.text -  текст (по умолчанию "Click me")
  options.type - тип ("button", "reset", "submit", по умолчанию "button")
  options.view - вид ("fill", "outline", "width_full", "arrow_right", "height_small", опционально, может быть массивом)
  options.class - дополнительный класс, который хотим примиксовать (не рекомендуется)
  options.disabled - будет ли кнопка активна (true/false, по умолчанию false)
  options.href - адрес для кнопки-ссылки
  options.hidden - будет ли кнопка скрыта (true/false, по умолчанию false)

mixin button(options = {})
  - let classArray = ["button"]
  
  if (options.view)
    if ( Array.isArray(options.view) )      
      - for (let view of options.view)
        - classArray.push("button_" + view)
    else
      - classArray.push("button_" + options.view)
    
  if (options.class)
    - classArray.push(options.class)
    
  - let classList = classArray.join(" ")
  
  - let tag = options.tag || "button"
  
  #{tag}(
    type = options.type || "button",
    disabled = options.disabled,
    class = classList,
    href = options.href,
    hidden = options.hidden
  )
    span.button__text= options.text || "Click me"