@import '../../styles/variables.scss';
@import '../../styles/mixins-and-templates.scss';

.button {
  border: none;
  background-color: transparent;
  font: {
    weight: 700;
    size: 0.86rem;
  }
  text: {
    align: center;
    decoration: none;
    transform: uppercase;
  }
  color: $accent-main;
  display: inline-block;
  line-height: normal;
  cursor: pointer;
  &:hover, &_hovered {
    color: $primary-medium;
  }
  &[hidden] {
    display: none;
  }
  &_fill {
    border-radius: 1.57rem;
    color: #fff;
    @include gradient;
    padding: 1rem 1.36rem;
    &:hover, &_hovered {
      color: #fff;
      opacity: 0.5;
    }
  }
  &_outline {
    border-radius: 1.57rem;
    padding: 2px;
    @include gradient;
    .button__text {
      display: block;
      background-color: #fff;
      padding: calc(1rem - 2px) calc(1.36rem - 2px);
      border-radius: inherit;
    }
    &:hover, &_hovered {
      color: $accent-main;
      @include gradient($opacity: 0.5);
    }
  }
  &_width_full {
    width: 100%;
  }
  &_arrow_right {
    position: relative;
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 1.23rem;
      height: 1.23rem;
      background-image: url(./img/arrow_right.svg);
      background-size: contain;
      right: 0.93rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &_height_small {
    padding: {
      top: 0.7rem;
      bottom: 0.7rem; 
    }
    &.button_outline {
      padding: 2px;
      .button__text {
        padding: {
          top: calc(0.7rem - 2px);
          bottom: calc(0.7rem - 2px);
        }
      }
    }
  }
}