@import '../../theme/variables.scss';

.button {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.86rem;
  color: $accent-main;
  display: inline-block;
  text-align: center;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
  &:hover, &_hovered {
    color: $primary-medium;
  }
  &:focus {
    outline: none;
  }
  &[hidden] {
    display: none;
  }
  &_fill {
    border-radius: 1.57rem;
    color: #fff;
    background: linear-gradient(to bottom, $accent-main, $accent-main-additional);
    padding: 1rem 1.36rem;
    &:hover, &_hovered {
      color: #fff;
      opacity: 0.5;
    }
  }
  &_outline {
    border-radius: 1.57rem;
    padding: 2px;
    background-image: linear-gradient(to bottom, $accent-main, $accent-main-additional);
    .button__text {
      display: block;
      background-color: #fff;
      padding: calc(1rem - 2px) calc(1.36rem - 2px);
      border-radius: inherit;
    }
    &:hover, &_hovered {
      color: $accent-main;
      background-image: linear-gradient(to bottom, rgba($accent-main, 0.5), rgba($accent-main-additional, 0.5));      
    }
  }
  &_width_full {
    width: 100%;
  }
  &_arrow_right {
    position: relative;
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 1.23rem;
      height: 1.23rem;
      background-image: url(./img/arrow_right.svg);
      background-size: contain;
      right: 0.93rem;
      top: calc(50% - 0.6rem);
    }
  }
  &_height_small {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    &.button_outline {
      padding: 2px;
      .button__text {
        padding-top: calc(0.7rem - 2px);
        padding-bottom: calc(0.7rem - 2px);
      }
    }
  }
}