.checklist {
  &__title {
    line-height: 1.22;
    padding-bottom: 1.18rem;
  }
  &__list {
    display: grid;
    grid-row-gap: 0.8rem;
    &_row-gap_small {
      grid-row-gap: 0.7rem;
    }
  }
}