include ../../components/input/input

mixin checklist(options)
  .checklist
    .checklist__title.h3= options.title
    .checklist__list(class = options.listClass)
      - for (let i = 0; i < options.items.length; i++)
        +input({
          label: options.items[i].label,
          type: "checkbox",
          checked: options.items[i].checked,
          inputId: options.uniqueName + "-" + i
        })