include ../../components/input/input

mixin checklist(options = {})
  - 
    const {
      title = "",
      uniqueName = "uniqueName",
      items = [
        {label: "пункт 1", checked: true},
        {label: "пункт 2", checked: false},
        {label: "пункт 3", checked: true}
      ],
      rowGap = undefined
    } = options

  .checklist
    if (title)
      .checklist__title= title

    - listClass = ""

    - const possibleRowGaps = ["small"]

    if (rowGap && possibleRowGaps.includes(rowGap))
      - listClass = `checklist__list_row-gap_${rowGap}`

    .checklist__list(class = listClass)
      - for (let i = 0; i < items.length; i++)
        +input({
          label: items[i].label,
          type: "checkbox",
          checked: items[i].checked,
          inputId: `${uniqueName}-${i + 1}`
        })