include ../../components/checkbox/checkbox

mixin checklist(options = {})
  - 
    const {
      title = "",
      items = [
        {label: "пункт 1", checked: true},
        {label: "пункт 2", checked: false},
        {label: "пункт 3", checked: true}
      ],
      rowGap = undefined
    } = options

  .checklist
    if (title)
      .checklist__title= title

    - let listClass = ""

    - const possibleRowGaps = ["small"]

    if (rowGap && possibleRowGaps.includes(rowGap))
      - listClass = `checklist__list_row-gap_${rowGap}`

    .checklist__list(class = listClass)
      - for (let i = 0; i < items.length; i++)
        +checkbox({
          label: items[i].label,
          checked: items[i].checked
        })