extends ../../../layouts/base
include ../../../components/registration-screen/registration-screen

block variables
  -
    const title = "Registration"
    const description = "Регистрация аккаунта для поиска и бронирования номеров."
    const keywords = "регистрация аккаунта"

block content
  +registration-screen