include ../../components/card-sign-up/card-sign-up

mixin registration-screen
  .registration-screen
    .registration-screen__container
      .registration-screen__card
        +card-sign-up({
          class: "card-sign-up_over-image"
        })
