include ../../components/card-sign-up/card-sign-up

mixin registration-screen
  .registration-screen
    .container
      .registration-screen__container
        .registration-screen__card
          +card-sign-up
