@import '../../theme/variables.scss';

.registration-screen {
  background-image: url(img/registration-bg.jpg);
  background-position: center;
  background-size: cover;
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  align-content: center;
  padding-top: 1.43rem;
  padding-bottom: 1.43rem;
  position: relative;
  &__card {
    width: 380px;
  }
}