@import '../../theme/variables.scss';

.registration-screen {
  background: {
    image: url(img/registration-bg.jpg);
    position: center;
    size: cover; 
  }
  min-height: calc(100vh - 70px);
  display: flex;
  align: {
    items: center;
    content: center; 
  }
  padding: {
    top: 1.43rem;
    bottom: 1.43rem; 
  }
  position: relative;
  &__card {
    width: 380px;
  }
}