@import '../../styles/variables.scss';
@import '../../styles/mixins-and-templates.scss';
@import '../button/button.scss';
@import '../input/input.scss';
@import '../calendar/calendar.scss';
@import '../dropdown/dropdown.scss';

.card-booking {
  @extend %card; 
  display: grid;
  grid: {
    row-gap: 1.15rem;
    row-gap: 1.1rem;
    -webkit-column-gap: 1.43rem;
       -moz-column-gap: 1.43rem;
            column-gap: 1.43rem;
    template-columns: 1fr 1fr; 
  }
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  &__guests, &__calculation, &__submit {
    grid-column: 1/-1;
  }
  &__number {
    font: {
      weight: 700;
      size: 1.7rem;
      family: 'Open Sans', 'Arial', sans-serif; 
    }
    line-height: 1.3;
    color: $primary-very-dark;
    &::before {
      content: '№ ';
      font-size: 1rem;
    }
    &_lux {
      &::after {
        content: ' люкс';
        text-transform: uppercase;
        font: {
          size: 0.86rem; 
          family: 'Montserrat', 'Arial', sans-serif;
        }
        line-height: 1.22;
        color: $accent-main;
      }
    }
  }
  &__price {
    font: {
      size: 1rem;
      weight: 700;
    }
    text-align: right; 
    color: $primary-medium;
    &::after {
      content: ' в сутки';
      font: {
        size: 0.86rem;
        weight: 400;
      }
    }
  }
  &__calculation {
    border-spacing: 0;
    td {
      padding: {
        top: 0.5rem;
        bottom: 0.65rem; 
      }
      line-height: 1.29;
      vertical-align: baseline;
    }
    td:first-child {
      padding-right: 1.79rem;
      position: relative;
    }
    td:last-child {
      text-align: right;
      width: 5.2rem;
    }
    tfoot {
      font: {
        family: 'Open Sans', 'Arial', sans-serif;
        weight: 700;
        size: 1.34rem;
      }
      color: $primary-very-dark;
      td {
        padding: {
          top: 1.4rem;
          bottom: 0.35rem; 
        }
      }
      td:first-child {
        position: relative;
        z-index: 1;
        span {
          background-color: #fff;
          display: inline-block;
          padding-right: 0.43rem;
        }
        &::before {
          content: '';
          display: block;
          position: absolute;
          border-bottom: 1px dotted $primary-light;
          width: 100%;
          height: 0;
          bottom: 0.7rem;
          z-index: -1;
        }
      }
    }
  }
  &__info-icon {
    position: absolute;
    width: 1.43rem;
    height: 1.43rem;
    border: 1px solid $primary-light {
      radius: 50%; 
    }
    color: $primary-light;
    font: {
      weight: 700;
      size: 0.86rem; 
    }
    text-align: center;
    line-height: calc(1.43rem - 2px);
    right: 0.5rem;
    top: 0.5rem;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  &__tooltip {
    background-color: $primary-very-dark;
    color: #fff;
    font-size: 0.86rem;
    border-radius: 4px;
    padding: 0.3rem 0.7rem;
    position: fixed;
    width: 200px;
    z-index: 100;
  }
}
