.input-with-button {
  position: relative;
  &__input {
    padding-right: 3.14rem;
  }
  &__button {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 3.14rem;
    height: 3.14rem;
    background: {
      color: transparent;
      image: url(./img/arrow_right.svg);
      repeat: no-repeat;
      position: center;
      size: 1.2rem;
    }
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      opacity: 0.6;
    }
  }
}