doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title Headers & Footers
  body.ui-kit-page.headers-and-footers-page
    include ../../components/header/header
    include ../../components/footer/footer

    +header
    
    +header({
      loggedIn: true,
      userName: 'Юлий Цезарь'
    })
    
    +footer
    
    script(src="headers-and-footers.js")