//-
  Все параметры опциональны:
  options.value - кол-во лайков (по умолчанию 0)
  options.checked - состояние чекбокса (true/false, по умолчанию false)

mixin like(options = {})    
  - let classList = options.class || ""
  if options.checked == true && options.value > 0
    - classList = classList + " like_checked"
    
  .like.js-like(
    class = classList
  )= options.value || 0
  