mixin like(options = {})
  -
    const {
      value = 0,
      checked = false
    } = options

  - let blockModifier = ""
  if (checked && value > 0)
    - blockModifier = "like_checked"
    
  .like.js-like(
    class = blockModifier
  )= options.value
  