mixin like(options)
  if !options
    - options = {}
  - let classList = options.class || ''
  - if (options.checked == true)
    - classList = classList + ' like_checked'
  .like.js-like(
    class = classList
  )= options.value
  