.like {
  display: inline-block;
  min-width: 38px;
  width: auto;
  height: 18px;
//  border: 1px solid $primary-light;
  border-radius: 10px;
  font-size: 0.7rem;
  line-height: 18px;
  color: $primary-light;
  text-align: center;
  padding-left: 16px;
  padding-right: 6px;
  position: relative;
  transition: all 0.2s ease-in-out;
  background-color: #fff;
  margin: 1px;
  &::before {
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    background-color: $primary-light;
    border-radius: inherit;
    z-index: -1;
  }
  &::after {
    content: '';
    display: block;
    width: 10px;
    height: 8px;
    position: absolute;
    top: calc(50% - 4px);
    left: 5px;
    background-image: url(../../src/components/like/img/like_border.svg);
    transition: all 0.2s ease-in-out;
  }
  &.checked {
    border-color: $accent-main;
    color: $accent-main;
    &::before {
      background: linear-gradient(to bottom, $accent-main, $accent-main-additional);
    }
    &::after {
      background-image: url(../../src/components/like/img/like_checked.svg);
    }
  }
}