@import '../../theme/variables.scss';
@import '../../theme/mixins-and-templates.scss';

.like {
  display: inline-block;
  min-width: 38px;
  width: auto;
  height: 18px;
  border-radius: 10px;
  font-size: 0.7rem;
  line-height: 18px;
  color: $primary-light;
  text-align: center;
  padding: {
    left: 16px;
    right: 6px;
  }
  position: relative;
  transition: all 0.2s ease-in-out;
  background-color: #fff;
  margin: 1px;
  cursor: pointer;
  &::before {
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    background-color: $primary-light;
    border-radius: inherit;
    z-index: -1;
  }
  &::after {
    content: '';
    display: block;
    width: 10px;
    height: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    background-image: url(./img/like_border.svg);
    transition: all 0.2s ease-in-out;
  }
  &_checked {
    border-color: $accent-main;
    color: $accent-main;
    &::before {
      @include gradient;
    }
    &::after {
      background-image: url(./img/like_checked.svg);
    }
  }
}