@import '../../../styles/variables.scss';
@import '../../../styles/mixins-and-templates.scss';

.colors-and-type-wrapper {
  display: grid;
  grid: {
    template-columns: 700px 450px;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px; 
  }
}

.type-samples {
  width: 405px;
  display: grid;
  grid: {
    template-columns: auto 1fr;
    template-rows: repeat(4, auto);
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    row-gap: 50px; 
  }
  -ms-flex-line-pack: start;
      align-content: flex-start;
  padding-top: 6px;
  margin: 0;
  &__h1-text,
  &__h1-label {
    @extend %h1;
  }
  &__h2-text,
  &__h2-label {
    @extend %h2;
  }
  &__h1-label,
  &__h2-label {
    font-family: 'Montserrat', 'Arial', sans-serif;
  }
  &__h3-text,
  &__h3-label {
    @extend %h3;
  }
  &__h1-label,
  &__h2-label,
  &__h3-label,
  &__body-label {
    text-align: right;
    color: $primary-light;
    font-weight: 400;
  }
  &__body-text {
    margin: 0;
  }
  &__text {
    margin: 0;
  }
}