@font-face {
  font-family: 'Montserrat';
  src: url('../../public/fonts/montserrat/montserrat-regular.woff2') format('woff2'),
    url('../../public/fonts/montserrat/montserrat-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../public/fonts/montserrat/montserrat-bold.woff2') format('woff2'),
    url('../../public/fonts/montserrat/montserrat-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../public/fonts/open-sans/open-sans-regular.woff2') format('woff2'),
    url('../../public/fonts/open-sans/open-sans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../public/fonts/open-sans/open-sans-bold.woff2') format('woff2'),
    url('../../public/fonts/open-sans/open-sans-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}