@import 'variables.scss';
@import 'fonts.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: $primary-dark;
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  padding: 0;
}





