@import '../../styles/mixins-and-templates.scss';

.rate {
  display: grid;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  grid: {
    template-columns: repeat(5, 20px);
    -webkit-column-gap: 4px;
       -moz-column-gap: 4px;
            column-gap: 4px; 
  }
  padding: 2px;
  &__star-factory {
    @extend %visually-hidden;
  }
  &__star {
    width: 20px;
    height: 19px;
  }
}