mixin rate(value)
  -
    pathToFilledStar = require("../../../components/rate/img/star-filled.svg");
    pathToEmptyStar = require("../../../components/rate/img/star-empty.svg");

  .rate
    - let i = 0
    while i < 5
      img.rate__star(
      src = value > i ? pathToFilledStar : pathToEmptyStar
      width = 20
      height = 19
    )
      - i = i + 1
