doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title Registration
  body.landing-page
    include ../../components/header/header
    include ../../components/footer/footer
    include ../../components/registration-screen/registration-screen

    +header
    
    +registration-screen
    
    +footer
    
    script(src="registration.js")