mixin logo  
  a(
    class = "logo"
    href = "../../index.pug"    
  )  
    img.logo__img(
      src = "../../../src/components/logo/img/logo.svg"
      alt = "Логотип"
    )
    span.visually-hidden На главную