@import '../../styles/mixins-and-templates.scss';

.logo {
  display: block;
  font-size: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  &:hover {
    opacity: 0.6;
  }
  &__label {
    @extend %visually-hidden;
  }
}