mixin logo  
  a(
    class = "logo"
    href = "../../index.html"    
  )  
    img.logo__img(
      src = require("../../components/logo/img/logo.svg")
      alt = "Логотип"
      width = 106
      height = 40
    )
    span На главную