include ../../components/like/like

mixin comment(options = {})
  -
    const {
      avatar = undefined,
      name = "Имя автора",
      date = "2021-08-23",
      like = {value: 0, checked: false},
      text = "Текст отзыва"
    } = options
    
  .comment.js-comment
    if avatar
      img.comment__avatar(
        src = avatar
        alt = "Аватарка автора"
        width = 50
        height = 50
      )
    else
      - let avatarLetter = name[0]
      .comment__avatar !{avatarLetter} 
    div
      p.comment__name= name
      time.comment__date.js-comment__date(
        datetime = date
      )= date
    .comment__like
      +like({
        value: like.value,
        checked: like.checked
      }) 
    .comment__text= text 
    
    
    