include ../../components/input/input

mixin calendar(options = {})
  -
    const {
      id = undefined,
      label = undefined,
      placeholder = "ДД.ММ.ГГГГ",
      value = undefined,
      attributesObject = {},
      type = undefined,
      relatedInput = undefined
    } = options

  - let blockModifier = undefined
  - const possibleTypes = ["start", "end"]
  if (type && possibleTypes.includes(type))
    - blockModifier = `js-calendar_${type}`

  if (relatedInput)
    - attributesObject["data-related-input"] = relatedInput
  
  .js-calendar(
    class = blockModifier
  )
    +input({
      view: "arrow_down",
      inputId: id,
      label: label,
      placeholder: placeholder,
      value: value,
      attributes: attributesObject,
      views: ["clickable"]
    })
  