*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: $primary-dark;
}

h1, h2, h3, .h1, .h2, .h3 {
  color: $primary-very-dark;
} 

h1, h2, .h1, .h2 {
  font-family: 'Open Sans';
  font-weight: 700;
  line-height: 1.25;
}

h1, .h1 {
  font-size: 1.7rem;  
}

h2, .h2 {
  font-size: 1.36rem;  
}

h3, .h3 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 0.86rem;
  line-height: 1.22rem;
  text-transform: uppercase;
}

.container-fluid {
  min-width: 320px;
  max-width: 1920px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

