%card {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12) {
    radius: 4px; 
  }
  padding: 2.14rem {
    top: 2.86rem;
  }
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
}

@mixin gradient($type: main, $direction: to bottom, $opacity: 1) {
  @if $type == main {
    background: linear-gradient($direction, rgba($accent-main, $opacity), rgba($accent-main-additional, $opacity));
  }
  @if $type == secondary {
    background: linear-gradient($direction, rgba($accent-secondary, $opacity), rgba($accent-secondary-additional, $opacity));
  }
  
}