// Colors
$primary-very-dark: #1F2041;
$primary-dark: transparentize($primary-very-dark, 0.25);
$primary-medium: transparentize($primary-dark, 0.25);
$primary-light: transparentize($primary-medium, 0.25);
$primary-very-light: transparentize($primary-light, 0.20);
$accent-main: #BC9CFF;
$accent-secondary: #6FCF97;
$accent-main-additional: #8BA4F9;
$accent-secondary-additional: #66D2EA;

// Screen sizes
$xxs: 320px;
$xs: 575px;
$sm: 767px;
$md: 991px;
$lg: 1199px;
$xl: 1440px;

@mixin media-breakpoint-up($width) {
  @media (min-width: $width + 1) {
    @content;
  }
}

@mixin media-breakpoint-down($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin media-breakpoint-between($min-width, $max-width) {
  @media (min-width: $min-width + 1) and (max-width: $max-width) {
    @content;
  }
}


