@import '../../styles/variables.scss';
@import '../../styles/mixins-and-templates.scss';
@import '../card-find-room/card-find-room.scss';

.first-screen {
  background: {
    image: url(img/landing-main-pic.jpg);
    position: center;
    size: cover;
  }  
  min-height: calc(100vh - 70px);
  padding: {
    top: 5rem;
    bottom: 1.4rem;
  }
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  &__container {
    @extend %container;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  &__form {
    max-width: 380px;
    @include media-breakpoint-down($xs) {
      -ms-flex-item-align: center;
          align-self: center;
    }
  }
  &__phrase {
    text-align: right;
    margin: 0;
    margin-left: auto;
  }
}