include ../../components/card-find-room/card-find-room

mixin first-screen

  .first-screen
    .container
      .first-screen__container
        .first-screen__card
          +card-find-room
        p.first-screen__phrase Лучшие номера для вашей работы, <br> отдыха и просто вдохновения