include ../../components/card-find-room/card-find-room

mixin first-screen

  .first-screen
    .first-screen__container
      .first-screen__card
        +card-find-room({
          class: "card-find-room_over-image"
        })      
      p.first-screen__phrase Лучшие номера для вашей работы, <br> отдыха и просто вдохновения