@import '../../theme/variables.scss';

.first-screen {
  background-image: url(img/landing-main-pic.jpg);
  background-position: center;
  background-size: cover;
  height: calc(100vh - 70px);
  padding-top: 5rem;
  padding-bottom: 1.29rem;
  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__card {
    width: 380px;
  }
  &__phrase {
    text-align: right;
  }
}

@include media-breakpoint-down($xs) {
  .first-screen {
    &__container {
      
    }
    &__card {
      align-self: center;
    }
  }
}