extends ../../../layouts/base
include ../../../components/sign-in-screen/sign-in-screen

block variables
  -
    const title = "Sign in"
    const description = "Войти в аккаунт TOXIN."
    const keywords = "вход в аккаунт, залогиниться"

block content
  +sign-in-screen