include ../../components/input/input
include ../../components/button/button

mixin card-sign-in(options = {})
  - 
    const {
      view = undefined
    } = options

  - classArray = []

  - const possibleViews = ["over-image"]

  if (view)
    if ( Array.isArray(view) )
      each item in view
        if (possibleViews.includes(item))
          - classArray.push("card-sign-in_" + item)
    else
      if (possibleViews.includes(view))
        - classArray.push("card-sign-in_" + view)
    
  form.card-sign-in(class = classArray.join(" "))
    .card-sign-in__title Войти
    +input({
      placeholder: "Email",
      type: "email",
      name: "email",
      required: true
    })
    +input({
      placeholder: "Пароль",
      type: "password",
      name: "password",
      required: true
    })
    .card-sign-in__submit
      +button({
        text: "Войти",
        type: "submit",
        view: ["fill", "width_full", "arrow_right"]
      })
    .card-sign-in__footer
      p.card-sign-in__footer-text Нет аккаунта на Toxin?      
      +button({
        text: "Создать",
        type: "button",
        view: "outline"
      })