include ../../components/input/input
include ../../components/button/button

//-
  options.class - дополнительный класс (не рекомендуется)
  options.view - декоративная опция (пока доступно 1 значение - "over-image")

mixin card-sign-in(options = {})
  - blockClass = options.class || ""

  if options.view
    - blockClass += blockClass ? ` card-sign-in_${options.view}` : `card-sign-in_${options.view}`

  .card-sign-in(class = blockClass)
    .card-sign-in__title Войти
    form.card-sign-in__form
      +input({
        placeholder: "Email",
        type: "email",
        name: "email",
        required: true
      }) 
      +input({
        placeholder: "Пароль",
        type: "password",
        name: "password",
        required: true
      })
      .card-sign-in__submit-button
        +button({
          text: "Войти",
          type: "submit",
          view: ["fill", "width_full", "arrow_right"]
        })
    .card-sign-in__footer
      p.card-sign-in__footer-text Нет аккаунта на Toxin?
      +button({
        text: "Создать",
        type: "button",
        view: "outline"
      })