@import '../../styles/mixins-and-templates.scss';

.card-sign-in {
  @extend %card;
  display: grid;
  grid-row-gap: 0.7rem;
  &_over-image {
    @extend %card-over-image;
  }
  &__title {
    @extend %h1;
    margin-bottom: 1.4rem;
  }
  &__submit {
    margin-top: 0.85rem;
  }
  &__footer {
    display: grid;
    grid: {
      template-columns: 1fr 7.07rem;
      column-gap: 0.7rem;
    }    
    align-items: baseline;
    margin-top: 2.14rem;
  }
  &__footer-text {
    margin: 0;
  }
}