include ../../components/input/input
include ../../components/button/button

//-
  options.class - дополнительный класс

mixin card-sign-in(options = {})
  .card-sign-in(
    if (options.class)
      class = options.class
  )
    .card-sign-in__title Войти
    form.card-sign-in__form
      +input({
        placeholder: "Email",
        type: "email",
        name: "email",
        required: true
      }) 
      +input({
        placeholder: "Пароль",
        type: "password",
        name: "password",
        required: true
      })
      .card-sign-in__submit-btn
        +button({
          text: "Войти",
          type: "submit",
          view: ["fill", "width_full", "arrow_right"]
        })
    .card-sign-in__footer
      p.card-sign-in__footer-text Нет аккаунта на Toxin?
      +button({
        text: "Создать",
        type: "button",
        view: "outline"
      })