@import '../../theme/mixins-and-templates.scss';

.card-sign-in {
  @extend %card;
  &__title {
    margin-bottom: 1.4rem;
  }
  &__form {
    display: grid;
    grid-row-gap: 0.7rem;
  }
  &__submit-btn {
    margin-top: 0.85rem;
  }
  &__footer {
    display: grid;
    grid: {
      template-columns: 1fr 7.07rem;
      column-gap: 0.7rem;
    }    
    align-items: baseline;
    margin-top: 2.14rem;
  }
}