//-
  options.class - класс, который будет примиксован к обертке .input (не рекомендуется)
  options.inputClass - класс, который будет примиксован к самому инпуту (не рекомендуется)
  options.id - id, который будет назначен инпуту (опционально) 
  options.label - заголовок (опционально)
  options.placeholder - плейсхолдер (по умолчанию "ДД.ММ.ГГГГ")
  options.value - дата или диапазон дат (опционально)
  options.attributes - объект с атрибутами, которые хотим передать инпуту (например, "data-date-format": "d M")
  optons.type - если хотим связать 2 инпута, ставим одному тип "start", а второму - "end"

include ../../components/input/input

mixin datepicker(options = {})
    
  - let inputClassList = "datepicker-here" 
  if options.inputClass
    - inputClassList += ` ${options.inputClass}`
  if options.type
    - inputClassList += ` date-${options.type}` 
  
  +input({
    class: options.class,
    inputClass: inputClassList,
    view: "arrow-down",
    inputId: options.id,
    label: options.label,
    placeholder: options.placeholder || "ДД.ММ.ГГГГ",
    value: options.value,
    attributes: options.attributes
  })
  