include ../../components/input/input

mixin datepicker(options)
  if !options
    - options = {}
  
  +input({
    class: options.class,
    inputClass: "datepicker-here",
    inputId: options.id,
    label: options.label,
    placeholder: options.placeholder || "ДД.ММ.ГГГГ",
    value: options.value,
    attributes: options.attributes
  })
  