@import '../../styles/variables.scss';
@import '../../styles/mixins-and-templates.scss';
@import '../input/input.scss';

.datepicker {
  width: 320px;
  border: 1px solid $primary-light;
  box-sizing: border-box;
  font-family: inherit;
  padding: 1.43rem;
  box-shadow: 0 10px 20px 0 rgba($primary-very-dark, 0.05);
  &--pointer {
    display: none;
  }
  &--nav {
    border-bottom: none;
    padding: 0;
    min-height: auto;
    margin-bottom: 3rem;
    &-title {
      font: {
        family: 'Open Sans', 'Arial', sans-serif;
        weight: 700;
        size: 1.36rem;
      }      
      line-height: 1.25;
      color: $primary-very-dark;
      & i {
        color: inherit;
      }
      &:hover {
        background: none;
      }
    }
    &-action {
      background: {
        repeat: no-repeat;
        position: center;  
      }     
      & svg {
        display: none;
      }
      &[data-action='prev'] {
        background-image: url(./img/arrow_back.svg);
      }
      &[data-action='next'] {
        background-image: url(./img/arrow_forward.svg);
      }
      &:hover {
        background: {
          repeat: no-repeat;
          position: center;
          color: transparent; 
        }
      }
    } 
  }
  &--content {
    padding: 0;
  }
  &--days-names {
    margin-bottom: 0.7rem;
  }
  &--day-name {
    text-transform: capitalize;
    color: $accent-main;
    font: {
      weight: 700;
      size: 0.86rem;
    }    
  }
  &--cell {
    font-size: 0.86rem;
    height: 40px;
    color: $primary-medium;
    &:hover {
      background-color: transparent;
    }
    &.-current-, &.-selected-, &.-range-from-, &.-range-to- {
      color: #fff;
      position: relative;
      font-weight: 700;
      background-color: transparent;
      &::before {
        display: block;
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
        border-radius: 50%;
        z-index: -1;
      }
      &:hover {
        color: #fff;
        background-color: transparent;
      }
    } 
    &.-current- {      
      &::before {  
        @include gradient($type: secondary);
      }
      &.-in-range- {
        color: #fff;
      }
      &.-selected- {
        &.-range-from- {
          background: 
            linear-gradient(to right, #fff 50%, transparent 50%),
            linear-gradient(to bottom, transparentize($accent-main, 0.75), transparentize($accent-main-additional, 0.75));
        }
        &.-range-to- {
          background: 
            linear-gradient(to left, #fff 50%, transparent 50%),
            linear-gradient(to bottom, transparentize($accent-main, 0.75), transparentize($accent-main-additional, 0.75));
        }
        &.-range-from-.-range-to- {
          background: none;
        }
        &.-focus- {
          background-color: transparent;
        }
      }
    }
    &.-selected- {
      &.-focus- {
        background-color: transparent;
      }
      &::before {
        @include gradient; 
      }
    }
    &.-in-range- {
      @include gradient($opacity: 0.25);
      &.-focus- {
        background-color: transparent;
      }
    }
    &.-range-from-, &.-range-to- {
      &::before {        
        @include gradient;
      } 
    }
    &.-range-from- {
      background: 
        linear-gradient(to right, #fff 50%, transparent 50%),
        linear-gradient(to bottom, transparentize($accent-main, 0.75), transparentize($accent-main-additional, 0.75));
      border: none;
      &.-focus- {
        background: 
        linear-gradient(to right, #fff 50%, transparent 50%),
        linear-gradient(to bottom, transparentize($accent-main, 0.75), transparentize($accent-main-additional, 0.75));
      }
    }
    &.-range-to- {
      background: 
        linear-gradient(to left, #fff 50%, transparent 50%),
        linear-gradient(to bottom, transparentize($accent-main, 0.75), transparentize($accent-main-additional, 0.75));
      border: none;
      &.-focus- {
        background: 
          linear-gradient(to left, #fff 50%, transparent 50%),
          linear-gradient(to bottom, transparentize($accent-main, 0.75), transparentize($accent-main-additional, 0.75));
      } 
    }
    &.-range-from-.-range-to- {
      background: none;
    }
    &.-disabled-:not(.-other-month-) {
      color: $primary-medium;
    }
  }
  &--buttons {
    border-top: none;
    justify-content: space-between;
    padding: 0;
    margin-top: 1.3rem;
  }
  &--button {
    flex-grow: 0;
    height: auto;
    color: $accent-main;
    &:hover {
      background: none;
    }
  }
}

.datepicker-inline .datepicker {
  border: 1px solid $primary-light;
  box-shadow: 0 10px 20px 0 rgba($primary-very-dark, 0.05);
}

.double-datepicker-wrap {
  display: grid;
  grid: {
    template-columns: 1fr 1fr;
    column-gap: 1.43rem;
  }  
}

.datepicker-here {
  cursor: pointer;
}

