@import '../../styles/variables.scss';

.palette {
  list-style: none;
  margin: 0;
  padding: 0;
  &__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    &:first-child {
      padding-top: 5px;
    }
  }
  &__color-block {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-right: 40px;
    @include media-breakpoint-down($md) {
      width: 50px;
      height: 50px;
      margin-right: 20px;
    }
  }
  &__color-legend {
    font: {
      family: 'Open Sans', 'Arial', sans-serif;
      size: 1.36rem;
    }
    line-height: 1.5;
    @include media-breakpoint-down($md) {
      font-size: 1rem;
    }
  }
  &__color-name {
    font-weight: bold;
    margin: 0;
  }
  &__color-code {
    margin: 0;
  }
  @include media-breakpoint-between($xs, $sm) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}