//-
  colors - массив данных каждого цвета
  colors[0] - тоже массив в данными цвета
  colors[0][0] - название цвета ('Dark Shade 100%')
  colors[0][1] - код цвета ('#1F2041')
  colors[0][2] - непрозрачность цвета (0-1)

mixin palette(colors)
  ul.palette
    each color in colors
      li.palette__item
        .palette__color-block(style={"background-color": color[1], opacity: color[2]})
        .palette__color-legend
          p.palette__color-name= color[0]
          p.palette__color-code= color[1]
