.cards-page {
  background-color: #e5e5e5;
}

.cards-wrapper {
  display: grid;
  grid: {
    template-columns: 380px 380px 320px;
    gap: 40px; 
  }
  align-items: start;
  .col {
    display: grid;
    grid-gap: 40px;
  }
  .col-270 {
    width: 270px;
    display: grid;
    grid-gap: 40px;
  }
}