
mixin checkbox(options = {})
  -
    let {
      id = undefined,
      label = undefined,
      sublabel = undefined,
      checked = false
    } = options

  .checkbox

    if (sublabel)
      - label = "<span class='checkbox__main-label'>" + label + "</span><br>" + "<span class='checkbox__sublabel'>" + sublabel + "</span>"               
    
    input.checkbox__field(
      id = id
      type = "checkbox"
      checked = checked
    )
    label.checkbox__label(
      for = id
    ) !{label}