
mixin checkbox(options = {})
  -
    let {
      label = undefined,
      sublabel = undefined,
      checked = false
    } = options

  .checkbox

    if (sublabel)
      - label = "<span class='checkbox__main-label'>" + label + "</span><br>" + "<span class='checkbox__sublabel'>" + sublabel + "</span>"               
    
    label.checkbox__label !{label}
      input.checkbox__field(
        type = "checkbox"
        checked = checked
      )