//- 
  options.title - заголовок списка (опционален)
  options.items - массив пунктов списка

mixin bullet-list(options)    
  .bullet-list
    if (options.title)
      .bullet-list__title= options.title
    ul.bullet-list__list
      - for (let item of options.items)
        li.bullet-list__item !{item}