mixin bullet-list(options = {})
  - 
    const {
      title = "",
      items = ["пункт 1", "пункт 2", "пункт 3"]
    } = options

  .bullet-list
    .bullet-list__title= title
    ul.bullet-list__list
      - for (let item of items)
        li.bullet-list__item !{item}
