@import '../../styles/variables.scss';
@import '../../styles/mixins-and-templates.scss';
@import '../logo/logo.scss';
@import '../input/input.scss';

.footer {
  background-color: #fff;
  padding-top: 7.14rem;
  line-height: 1.22;
  box-shadow: 0 10px 20px rgba($primary-very-dark, 0.05);
  &__container {
    @extend %container;
    display: grid;
    grid: {
      template-columns: repeat(12, 1fr);
      column-gap: 2.857rem;
    }
    padding-bottom: 7.14rem;
  }
  &__logo-column {
    grid-column: 1/4;
    line-height: 1.7;
  }
  &__logo {
    margin-bottom: 1.3rem;
  }
  &__text-under-logo {
    margin: 0;
  }
  &__menu {
    display: grid;
    grid: {
      column: 4/10;
      template-columns: 1fr 1fr 1fr;
      column-gap: 2.86rem;
      row-gap: 1.6rem;
    }
    line-height: 1.22;
    padding-top: 0.29rem;
    margin: 0;
  }
  &__heading {
    grid-row: 1/2;
    text-transform: uppercase;
    font: {
      weight: 700;
      size: 0.86rem; 
    }
    line-height: 1.22;
  }
  &__menu-list-container {
    margin: 0;
  }
  &__menu-list {
    list-style-type: none;
    display: grid;
    grid-row-gap: 1.5rem;
    margin: 0;
    padding: 0;
  }
  &__menu-link {
    text-decoration: none;
    color: $primary-medium;
  }
  &__subscription-column {
    display: grid;
    grid: {
      column: 10/-1;
      row-gap: 1.5rem;
    }
    align-content: start;
    padding-top: 0.29rem;
  }
  &__subscription-text {
    line-height: 1.7;
    margin: 0;
  }
  &__bottom {
    border-top: 1px solid rgba($primary-very-dark, 0.1);
  }
  &__bottom-container {
    @extend %container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: {
      top: 1.5rem;
      bottom: 1.5rem;
    }
  }
  &__copyright {
    margin: 0;
  }
  &__socials {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  &__socials-item + &__socials-item {
    margin-left: 1.43rem;
  }
  &__socials-link {
    display: block;
    width: 24px;
    transition: all 0.2s ease-in-out;
    &:hover {
      opacity: 0.6;
    }
  }
  &__socials-img {
    width: 100%;
    height: auto;
  }
}

@include media-breakpoint-down($md) {
  .footer {
    &__container {
      grid-row-gap: 2.857rem;
    }
    &__logo-column {
      grid: {
        column: 1/6;
        row: 2/3;
      }
    }
    &__menu {
      grid-column: 1/-1;
    }
    &__subscription-column {
      grid-column: 7/-1;
    }
  }
}

@include media-breakpoint-down($sm) {
  .footer {
    padding-top: 8.57rem;
    &__container {
      padding-bottom: 0;
      display: flex;
      justify-content: center;
    }
    &__text-under-logo,
    &__menu,
    &__subscription-column {
      display: none;
    }
    &__logo-column {
      grid: {
        column: 1/-1;
        row: 1/2;
      }
    }
    &__logo {
      text-align: center;
      margin-bottom: 0;
    }
    &__bottom {
      border-top: none; 
    }
    &__bottom-container {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding-bottom: 8.57rem;
    }
    &__copyright {
      margin-bottom: 1.79rem;
    }
  }
}