//-
  options.title - заголовок (опционально)
  options.uniqueName - уникальное имя для генерации id инпутов
  options.items: массив объектов пунктов
  options.items[0].label - заголовок пункта
  options.items[0].sublabel - подзаголовок пункта
  options.items[0].checked - состояние соответствующего чекбокса (true/false, по умолчанию false)

include ../../components/input/input

mixin rich-checklist(options)    
  .rich-checklist
    if options.title
      .rich-checklist__title.h3= options.title
    .rich-checklist__list
      - for (let i = 0; i < options.items.length; i++)
        +input({
          label: "<span class='rich-checklist__label'>" + options.items[i].label + "</span><br>" + "<span class='rich-checklist__sublabel'>" + options.items[i].sublabel + "</span>",
          type: "checkbox",
          checked: options.items[i].checked,
          inputId: options.uniqueName + "-" + i
        })