@import '../../styles/variables.scss';
@import '../../styles/mixins-and-templates.scss';
@import '../input/input.scss';

.rich-checklist {
  &__title {
    @extend %h3;
    margin-bottom: 1.14rem;
  }
  &__list {
    display: grid;
    grid-gap: 0.7rem;
  }
}