include ../../components/input/input

mixin rich-checklist(options)    
  .rich-checklist
    .rich-checklist__title.h3= options.title
    .rich-checklist__list
      - for (let i = 0; i < options.items.length; i++)
        +input({
          label: "<div><div class='rich-checklist__label'>" + options.items[i].label + "</div>" + "<div class='rich-checklist__sublabel'>" + options.items[i].sublabel + "</div></div>",
          type: "checkbox",
          checked: options.items[i].checked,
          inputId: options.uniqueName + "-" + i
        })