include ../../components/checkbox/checkbox

mixin rich-checklist(options = {})
  -
    const {
      title = "",
      items = [
        {label: "пункт 1", sublabel: "подзаголовок пункта 1", checked: true},
        {label: "пункт 2", sublabel: "подзаголовок пункта 2", checked: false},
        {label: "пункт 3", sublabel: "подзаголовок пункта 3", checked: true}
      ] 
    } = options

  .rich-checklist
    if (title)
      .rich-checklist__title= title
    .rich-checklist__list
      each item in items
        +checkbox({
          label: item.label,
          sublabel: item.sublabel,
          checked: item.checked
        })