@import '../../theme/variables.scss';

.rich-checklist {
  &__title {
    padding-bottom: 0.55rem;
  }
  &__list {
    display: grid;
    grid-row-gap: 0.6rem;
    padding-top: 0.5rem;
  }
  &__label {
    font-weight: 700;
    margin-bottom: 0.36rem;
  }
  &__sublabel {
    font-size: 0.86rem;
    color: $primary-medium;
  }
}