@import '../../styles/mixins-and-templates.scss';
@import '../button/button.scss';
@import  '../input/input.scss';
@import  '../radio/radio.scss';
@import  '../toggle/toggle.scss';

.card-sign-up {
  @extend %card;
  display: grid;
  grid-row-gap: 0.7rem;
  &_over-image {
    @extend %card-over-image;
  }
  &__title {
    @extend %h1;
    margin-bottom: 0.8rem;
  }
  &__gender {
    display: grid;
    grid: {
      template-columns: auto auto;
      -webkit-column-gap: 1.43rem;
         -moz-column-gap: 1.43rem;
              column-gap: 1.43rem; 
    }
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 0.7rem;
  }
  &__birthday {
    margin-bottom: 0.5rem;
  }
  &__submit {
    margin-top: 1rem;
  }
  &__footer {
    display: grid;
    grid: {
      template-columns: 1fr 7.07rem;
      -webkit-column-gap: 0.7rem;
         -moz-column-gap: 0.7rem;
              column-gap: 0.7rem; 
    }
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-top: 1.5rem;
  }
  &__footer-text {
    margin: 0;
  }
}