include ../../components/input/input
include ../../components/radio/radio
include ../../components/toggle/toggle
include ../../components/button/button

mixin card-sign-up(options = {})
  - 
    const {
      view = undefined
    } = options
  
  - classArray = []

  - const possibleViews = ["over-image"]

  if (view)
    if ( Array.isArray(view) )      
      each item in view
        if (possibleViews.includes(item))
          - classArray.push("card-sign-up_" + item)
    else
      if (possibleViews.includes(view))
        - classArray.push("card-sign-up_" + view)
    
  form.card-sign-up(class = classArray.join(" "))
    .card-sign-up__title Регистрация аккаунта
    +input({
      placeholder: "Имя",
      type: "text",
      name: "name",
      required: true
    }) 
    +input({
      placeholder: "Фамилия",
      type: "text",
      name: "surname",
      required: true
    }) 
    .card-sign-up__gender
      +radio({
        label: "Мужчина",
        name: "gender",
        checked: true
      })
      +radio({
        label: "Женщина",
        name: "gender"
      })
    .card-sign-up__birthday  
      +input({
        type: "date",
        label: "Дата рождения",
        placeholder: "ДД.ММ.ГГГГ",
        name: "birthday"
      }) 
    +input({
      label: "Данные для входа в сервис",
      placeholder: "Email",
      type: "email",
      name: "email",
      required: true
    }) 
    +input({
      placeholder: "Пароль",
      type: "password",
      name: "password",
      required: true
    }) 
    +toggle({
      label: "Получать спецпредложения",
      name: "offers"
    })
    .card-sign-up__submit
      +button({
        text: "Перейти к оплате",
        type: "submit",
        view: ["fill", "width_full", "arrow_right"]
      })
    .card-sign-up__footer
      p.card-sign-up__footer-text Уже есть аккаунт на Toxin
      +button({
        text: "Войти",
        type: "button",
        view: "outline"
      })
    
    