doctype html
html(lang="ru")
  head
    meta(charset='utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title Form Elements
    link(rel="stylesheet" href="../ui-kit.scss")
    link(rel="stylesheet" href="form-elements.scss")
  body.ui-kit-page
    .ui-kit-container
      .form-elements-wrapper
        include ../../components/input/input
        include ../../components/dropdown/dropdown
        include ../../components/button/button
        .col
          +input({
            class: "default-text-field",
            label: "text field",
            placeholder: "Email",
            type: "email"
          })
          +input({
            class: "hover-focus-text-field",
            label: "text field",
            value: "This is pretty awesome",
            type: "text"
          })
          
          .dropdown
            label.h3 Dropdown
            .iqdropdown.iqdropdown-guests
              p.iqdropdown-selection
              .iqdropdown-menu
                .iqdropdown-menu-option(data-id="item1")
                  div
                    p.iqdropdown-item Взрослые
                .iqdropdown-menu-option(data-id="item2")
                  div
                    p.iqdropdown-item Дети
                .iqdropdown-menu-option(data-id="item3")
                  div
                    p.iqdropdown-item Младенцы
                .dropdown__buttons
                  +button({
                    text: "Очистить",
                    class: "dropdown__button dropdown__button_reset"
                  })
                  +button({
                    text: "Применить",
                    class: "dropdown__button dropdown__button_apply"
                  })
                    
          .dropdown
            label.h3 Dropdown
            .iqdropdown.iqdropdown-facilities
              p.iqdropdown-selection
              .iqdropdown-menu
                .iqdropdown-menu-option(data-id="item1" data-defaultcount="2" data-mincount="1")
                  div
                    p.iqdropdown-item Спальни
                .iqdropdown-menu-option(data-id="item2" data-defaultcount="2" data-mincount="1")
                  div
                    p.iqdropdown-item Кровати
                .iqdropdown-menu-option(data-id="item3")
                  div
                    p.iqdropdown-item Ванные комнаты
                .dropdown__buttons
                  +button({
                    text: "Очистить",
                    class: "dropdown__button dropdown__button_reset"
                  })
                  +button({
                    text: "Применить",
                    class: "dropdown__button dropdown__button_apply"
                  })
          
          input.datepicker-here
                  
          input.birthday-input(placeholder="ДД.ММ.ГГГГ")
          
        .col
        .col
          div 
            .h3 Buttons
            +button({
              tag: "button",
              text: "Click me",
              type: "button"
            })
            +button({
              tag: "button",
              text: "Click me",
              type: "button",
              disabled: true
            })
    script(src="../../main.js")
    script(src="form-elements.js")
    
