doctype html
html(lang="ru")
  head
    meta(charset='utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title Form Elements
    link(rel="stylesheet" href="../ui-kit.scss")
    link(rel="stylesheet" href="form-elements.scss")
  body.ui-kit-page
    .ui-kit-container
      .form-elements-wrapper
        include ../../components/input/input
        include ../../components/dropdown/dropdown
        include ../../components/button/button
        include ../../components/datepicker/datepicker
        .col
          +input({
            class: "default-text-field",
            label: "text field",
            placeholder: "Email",
            type: "email"
          })
          +input({
            class: "hover-focus-text-field",
            label: "text field",
            value: "This is pretty awesome",
            type: "text"
          })
          
          +dropdown({
            label: "Dropdown",
            class: "iqdropdown-guests",
            items: [
              {
                id: "guests-item1",
                text: "Взрослые"
              },
              {
                id: "guests-item2",
                text: "Дети"
              },
              {
                id: "guests-item3",
                text: "Младенцы"
              }
            ],
            buttonsClass: "hidden",
          })
          
          +input({
            class: "birthday-input",
            label: "masked text field",
            placeholder: "ДД.ММ.ГГГГ"
          })
          
          .double-datepicker-wrap
            +datepicker({
              class: "date-dropdown input__input_arrow_down",
              label: "date dropdown",
              id: "date-start",
              placeholder: "ДД.ММ.ГГГГ",
              attributes: {
                "data-range": "true",
                "data-multiple-dates-separator": " - ",
                "data-toggle-selected": "false"
              }
            })

            +datepicker({
              class: "date-dropdown input_arrow_down",
              label: "date dropdown",
              id: "date-end",
              placeholder: "ДД.ММ.ГГГГ",
              attributes: {
                "data-position": "bottom right"
              }
            })
          
          .col-266
            +datepicker({
              class: "filter-date-dropdown input_arrow_down",
              label: "filter date dropdown",
              placeholder: "ДД.ММ.ГГГГ",
              attributes: {
                "data-range": "true",
                "data-multiple-dates-separator": " - ",
                "data-toggle-selected": "false"
              }
            })
            
            +input({
              class: "input_arrow_right",
              label: "subscription text field",
              placeholder: "Email",
              type: "email"
            })
          

            +dropdown({
              label: "Dropdown",
              class: "iqdropdown-facilities",
              items: [
                {
                  id: "facilities-item1",
                  text: "Спальни",
                  defaultcount: 2,
                  mincount: 1
                },
                {
                  id: "facilities-item2",
                  text: "Кровати",
                  defaultcount: 2,
                  mincount: 1
                },
                {
                  id: "facilities-item3",
                  text: "Ванные комнаты"
                }
              ],
              buttonsClass: "hidden",
            })
                    
          
          
        .col
        .col
          div 
            .h3 Buttons
            +button({
              tag: "button",
              text: "Click me",
              type: "button"
            })
            +button({
              tag: "button",
              text: "Click me",
              type: "button",
              disabled: true
            })
    script(src="../../main.js")
    script(src="form-elements.js")
    
