@import '../../theme/variables.scss';
.form-elements-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  grid-column-gap: 40px;
  grid-gap: 100px;
  .default-text-field,
  .hover-focus-text-field {
    position: relative;
    &::before {
      position: absolute;
      text-transform: uppercase;
      top: 0;
      right: 0;
      font-size: 0.86rem;
      line-height: 1.22rem;
    }
  }
  .default-text-field::before {
    content: "default";
  }
  .hover-focus-text-field {
    &::before {
      content: "hover / focus";
    }
    input {
      border-color: $primary-medium;
    }
  }
  .col {
    display: grid;
    grid-gap: 17px;
  }
}