doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title Form Elements
  body.ui-kit-page
    .ui-kit-container
      .form-elements-wrapper
        include ../../components/input/input
        include ../../components/dropdown/dropdown
        include ../../components/button/button
        include ../../components/datepicker/datepicker
        include ../../components/input-with-button/input-with-button
        include ../../components/checklist/checklist
        include ../../components/like/like
        include ../../components/rate/rate
        include ../../components/range/range
        include ../../components/expandable-checklist/expandable-checklist
        include ../../components/rich-checklist/rich-checklist
        include ../../components/bullet-list/bullet-list
        include ../../components/icon-list/icon-list
        include ../../components/comment/comment
        
        .col
          +input({
            class: "default-text-field",
            label: "text field",
            placeholder: "Email",
            type: "email"
          })
          
          +input({
            class: "hover-focus-text-field",
            label: "text field",
            value: "This is pretty awesome",
            type: "text"
          })
          
          +dropdown({
            type: "guests",
            label: "Dropdown"
          })
          
          .gap-37px.pt-3px
            +input({
              inputClass: "js-input_birthday",
              label: "masked text field",
              placeholder: "ДД.ММ.ГГГГ"
            })

            .double-datepicker-wrap
              +datepicker({
                label: "date dropdown",
                inputClass: "date-start"
              })

              +datepicker({
                label: "date dropdown",
                inputClass: "date-end",
                value: "2021-08-18"
              })
          
            .col-266.gap-40px
              +datepicker({
                label: "filter date dropdown",
                value: "2021-08-19 - 2021-08-23",
                attributes: {
                  "data-date-format": "d M"
                }
              })

              +input-with-button({
                label: "Subscription text field",
                placeholder: "Email",
                type: "email",
                name: "email"
              })
          
        .col.gap-40px          
          +checklist({
            title: "Checkbox buttons",
            uniqueName: "checklist-example",
            items:[
              {
                label: "Можно курить"
              },
              {
                label: "Можно с питомцами",
                checked: true
              },
              {
                label: "Можно пригласить гостей <br> (до 10 человек)",
                checked: true
              }
            ] 
          })
          
          .radio-container
            .h3 Radio buttons
            +input({
              label: "Мужчина",
              type: "radio",
              name: "checkbox",
              checked: true,
              inputId: "radio-1"
            })
            +input({
              label: "Женщина",
              type: "radio",
              name: "checkbox",
              inputId: "radio-2"
            })
          
          .toggle-container
            .h3 Toggle
            +input({
              label: "Получать спецпредложения",
              type: "toggle",
              checked: true,
              inputId: "toggle-1"
            })
            +input({
              label: "Получать спецпредложения",
              type: "toggle",
              inputId: "toggle-2"
            })
          
          .like-container
            .h3 Like button
            +like({
              value: 2
            })
            +like({
              value: 12,
              checked: true
            })
            
          .rate-container  
            .h3 Rate button
            +rate({
              value: 4
            })
            +rate({
              value: 5
            })
          
        .col.gap-40px
          .col-266
            +range({
              label: "Range slider",
              min: 700,
              max: 15200,
              from: 5000,
              to: 10000,
              step: 10
            })
      
          .buttons-container
            .h3 Buttons
            .buttons-row
              +button({
                tag: "button",
                text: "Click me",
                type: "button",
                view: "fill"
              })
              +button({
                tag: "button",
                text: "Click me",
                type: "button",
                view: "fill",
                class: "button_fill_hovered"
              })

            .buttons-row  
              +button({
                tag: "button",
                text: "Click me",
                type: "button",
                view: "outline"
              })
              +button({
                tag: "button",
                text: "Click me",
                type: "button",
                view: "outline",
                class: "button_outline_hovered"
              }) 

            .buttons-row
              +button({
                tag: "button",
                text: "Click me",
                type: "button"
              })
              +button({
                tag: "button",
                text: "Click me",
                type: "button",
                class: "button_hovered"
              })
 
            +button({
              text: "Перейти к оплате",
              type: "button",
              view: ["fill", "width_full", "arrow_right"]
            })
            
          .pagination-container
            .h3 Pagination
            .pagination.js-pagination
            
            
        .dropdown-row.mt--5px    
          .col
            .col-266.gap-20px
              +dropdown({
                type: "facilities",
                label: "Dropdown",
                bedroomsDefaultCount: 2,
                bedroomsMinCount: 1,
                bedsDefaultCount: 2,
                bedsMinCount: 1,
                attributes: {
                  class: "default-dropdown"
                }
              })

              +dropdown({
                type: "facilities",
                label: "Dropdown",
                open: true,
                bedroomsDefaultCount: 2,
                bedroomsMinCount: 1,
                bedsDefaultCount: 2,
                bedsMinCount: 1,
                attributes: {
                  class: "expanded-dropdown"
                }
              })

          .col
            +dropdown({
              type: "guests",
              label: "Dropdown",
              open: true
            })

          .col
            +dropdown({
              type: "guests",
              label: "Dropdown",
              open: true,
              adultsDefaultCount: 2,
              childrenDefaultCount: 1
            })
          
        .col
          .col-266.gap-37px
            +expandable-checklist({
              title: "Expandable checkbox list",
              uniqueName: "expandable-checklist-example1",
              items: [
                {
                  label: "Завтрак"
                },
                {
                  label: "Письменный стол"
                },
                {
                  label: "Стул для кормления"
                },
                {
                  label: "Кроватка"
                },
                {
                  label: "Телевизор"
                },
                {
                  label: "Шампунь"
                }
              ]
            })
          
            +expandable-checklist({
              title: "Expandable checkbox list",
              uniqueName: "expandable-checklist-example2",
              opened: true,
              items: [
                {
                  label: "Завтрак"
                },
                {
                  label: "Письменный стол",
                  checked: true
                },
                {
                  label: "Стул для кормления",
                  checked: true
                },
                {
                  label: "Кроватка",
                  checked: true
                },
                {
                  label: "Телевизор"
                },
                {
                  label: "Шампунь"
                }
              ] 
            })
          
        .col
          +rich-checklist({
            title: "Rich checkbox buttons",
            uniqueName: "rich-checklist-example",
            items: [
              {
                label: "Широкий коридор",
                sublabel: "Ширина коридоров в номере <br>не менее 91 см."
              },
              {
                label: "Помощник для инвалидов",
                sublabel: "На 1 этаже вас встретит специалист <br>и проводит до номера."
              }                
            ]
          })
          
        .col
          +bullet-list({
            title: "Bullet list",
            items: [
              "Нельзя с питомцами",
              "Без вечеринок и мероприятий",
              "Время прибытия — после 13:00, <br>а выезд до 12:00"
            ]
          })
          
        .col
          .col-266
            +icon-list({
              items: [
                {
                  icon: "img/emoticon.svg",
                  label: "Комфорт",
                  sublabel: "Шумопоглощающие стены"
                },
                {
                  icon: "img/city.svg",
                  label: "Удобство",
                  sublabel: "Окно в каждой из спален"
                }
              ]
            })
          
        .col-2.pt-10px  
          +comment({
            avatar: "img/avatar.jpg",
            name: "Мурад Сарафанов",
            date: "2020-11-21",
            like: {
              value: 12,
              class: "checked"              
            },
            text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."
          })
          
          
        .visually-hidden
          .js-card 1
          .js-card 2
          .js-card 3
          .js-card 4
          .js-card 5
          .js-card 6
          .js-card 7
          .js-card 8
          .js-card 9
          .js-card 10
          .js-card 11
          .js-card 12
          .js-card 13
          .js-card 14
          .js-card 15
          .js-card 16
          .js-card 17
          .js-card 18
          .js-card 19
          .js-card 20
          .js-card 21
          .js-card 22
          .js-card 23
          .js-card 24
          .js-card 25
          .js-card 26
          .js-card 27
          .js-card 28
          .js-card 29
          .js-card 30
          .js-card 31
          .js-card 32
          .js-card 33
          .js-card 34
          .js-card 35
          .js-card 36
          .js-card 37
          .js-card 38
          .js-card 39
          .js-card 40
          .js-card 41
          .js-card 42
          .js-card 43
          .js-card 44
          .js-card 45
          .js-card 46
          .js-card 47
          .js-card 48
          .js-card 49
          .js-card 50
          .js-card 51
          .js-card 52
          .js-card 53
          .js-card 54
          .js-card 55
          .js-card 56
          .js-card 57
          .js-card 58
          .js-card 59
          .js-card 60
          .js-card 61
          .js-card 62
          .js-card 63
          .js-card 64
          .js-card 65
          .js-card 66
          .js-card 67
          .js-card 68
          .js-card 69
          .js-card 70
          .js-card 71
          .js-card 72
          .js-card 73
          .js-card 74
          .js-card 75
          .js-card 76
          .js-card 77
          .js-card 78
          .js-card 79
          .js-card 80
          .js-card 81
          .js-card 82
          .js-card 83
          .js-card 84
          .js-card 85
          .js-card 86
          .js-card 87
          .js-card 88
          .js-card 89
          .js-card 90
          .js-card 91
          .js-card 92
          .js-card 93
          .js-card 94
          .js-card 95
          .js-card 96
          .js-card 97
          .js-card 98
          .js-card 99
          .js-card 100
          .js-card 101
          .js-card 102
          .js-card 103
          .js-card 104
          .js-card 105
          .js-card 106
          .js-card 107
          .js-card 108
          .js-card 109
          .js-card 110
          .js-card 111
          .js-card 112
          .js-card 113
          .js-card 114
          .js-card 115
          .js-card 116
          .js-card 117
          .js-card 118
          .js-card 119
          .js-card 120
          .js-card 100
          .js-card 101
          .js-card 102
          .js-card 103
          .js-card 104
          .js-card 105
          .js-card 106
          .js-card 107
          .js-card 108
          .js-card 109
          .js-card 110
          .js-card 111
          .js-card 112
          .js-card 113
          .js-card 114
          .js-card 115
          .js-card 116
          .js-card 117
          .js-card 118
          .js-card 119
          .js-card 120
          .js-card 121
          .js-card 122
          .js-card 123
          .js-card 124
          .js-card 125
          .js-card 126
          .js-card 127
          .js-card 128
          .js-card 129
          .js-card 130
          .js-card 131
          .js-card 132
          .js-card 133
          .js-card 134
          .js-card 135
          .js-card 136
          .js-card 137
          .js-card 138
          .js-card 139
          .js-card 140
          .js-card 141
          .js-card 142
          .js-card 143
          .js-card 144
          .js-card 145
          .js-card 146
          .js-card 147
          .js-card 148
          .js-card 149
          .js-card 150
          .js-card 151
          .js-card 152
          .js-card 153
          .js-card 154
          .js-card 155
            
            
    script(src="form-elements.js")
    
