
mixin toggle(options = {})
  -
    let {
      label = undefined,
      name = undefined,
      checked = false
    } = options

  .toggle
    label.toggle__label !{label}
      input.toggle__field(
        type = "checkbox"
        name = name
        checked = checked
      )