
mixin toggle(options = {})
  -
    let {
      id = undefined,
      label = undefined,
      name = undefined,
      checked = false
    } = options

  .toggle    
    input.toggle__field(
      id = id
      type = "checkbox"
      name = name
      checked = checked
    )
    label.toggle__label(
      for = id
    ) !{label}