doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title Contents
    link(rel="apple-touch-icon" sizes="180x180" href="theme/favicon/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="theme/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="theme/favicon/favicon-16x16.png")
    link(rel="manifest" href="theme/favicon/site.webmanifest")
    link(rel="mask-icon" href="theme/favicon/safari-pinned-tab.svg" color="#bc9cff")
    meta(name="msapplication-TileColor" content="#9f00a7")
    meta(name="theme-color" content="#ffffff")
  body
    ul
      li UI-kit
        ul
          li
            a(href="ui-kit/colors-and-type/colors-and-type.pug") Colors & Type
          li
            a(href="ui-kit/form-elements/form-elements.pug") Form Elements
          li
            a(href="ui-kit/cards/cards.pug") Cards
          li
            a(href="ui-kit/headers-and-footers/headers-and-footers.pug") Headers & Footers  
      li Site pages
        ul
          li
            a(href="pages/landing-page/landing-page.pug") Landing Page 
          li
            a(href="pages/search-room/search-room.pug") Search room
          li
            a(href="pages/room-details/room-details.pug") Room details
          li
            a(href="pages/registration/registration.pug") Registration
          li
            a(href="pages/sign-in/sign-in.pug") Sign in