doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title Contents
  body
    ul
      li UI-kit
        ul
          li
            a(href="ui-kit/colors-and-type/colors-and-type.pug") Colors & Type
          li
            a(href="ui-kit/form-elements/form-elements.pug") Form Elements
          li
            a(href="ui-kit/cards/cards.pug") Cards
          li
            a(href="#") Headers & Footers  
      li Site pages
        ul
          li
            a(href="#") Landing Page 
          li
            a(href="#") Search room
          li
            a(href="#") Room details
          li
            a(href="#") Registration
  script(src="main.js")          