include ../../components/card-sign-in/card-sign-in

mixin sign-in-screen
  .sign-in-screen
    .sign-in-screen__container
      .sign-in-screen__card
        +card-sign-in({
          class: "card-sign-in_over-image"
        })
