include ../../components/card-sign-in/card-sign-in

mixin sign-in-screen
  .sign-in-screen
    .sign-in-screen__container
      .sign-in-screen__form
        +card-sign-in({
          view: "over-image"
        })
