extends ./empty
include ../components/header/header
include ../components/footer/footer

block variables
  -
    const title = "TOXIN"
    const description = "Лучшие номера для вашей работы, отдыха и просто вдохновения."
    const keywords = "забронировать номер, подбор номера"

block body

  +header
  
  block content
  
  +footer