doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title Cards
  body.ui-kit-page
    .ui-kit-container
      .cards-wrapper
        include ../../components/card-find-room/card-find-room
        include ../../components/card-sign-up/card-sign-up
        include ../../components/card-booking/card-booking
        include ../../components/card-sign-in/card-sign-in
        include ../../components/datepicker/datepicker
        include ../../components/card-room/card-room
        
        .col
          +card-find-room
          +card-sign-up       
            
        .col
          +card-booking({
            number: 888,
            lux: true,
            price: 9990,
            adults: 3,
            serviceFee: 0,
            discount: 2179,
            additionalServiceFee: 300,
            arrival: "2021-08-19",
            departure: "2021-08-23"
          })
          +card-sign-in
        
        .col
          .datepicker-here
          
          .col-270
            +card-room({
              images: [
                "img/room1.jpg",
                "img/room2.jpg",
                "img/room3.jpg",
                "img/room4.jpg",
              ],
              number: 888,
              lux: true,
              price: 9990,
              rate: 5,
              comments: 145
            })
            
            +card-room({
              images: [
                "img/room2.jpg",
                "img/room1.jpg",
                "img/room3.jpg",
                "img/room4.jpg",
              ],
              number: 840,
              price: 9900,
              rate: 4,
              comments: 65
            })
          
    script(src="cards.js")
    
