doctype html
html(lang="ru")
  head
    meta(charset='utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title Cards
    link(rel="stylesheet" href="../ui-kit.scss")
    link(rel="stylesheet" href="cards.scss")
  body.ui-kit-page
    .ui-kit-container
      .cards-wrapper
        include ../../components/card-find-room/card-find-room
        include ../../components/card-sign-up/card-sign-up
        include ../../components/card-sign-in/card-sign-in
        
        .col
          +card-find-room
          +card-sign-up       
            
        .col
          +card-sign-in
        
        .col
          .datepicker-here(data-range = "true", data-multiple-da+tes-separator = " - ", data-toggle-selected = "false")
      
        
    script(src="../../main.js")
    
