extends ../../layouts/empty

block variables
  -
    const title = "Colors & Type"
    const description = "UI Kit TOXIN: цвета и шрифты"
    const keywords = "UI Kit, цвета, шрифты"
    const bodyClass = "ui-kit-page"

block body
  .ui-kit-container
    .colors-and-type-wrapper
      include ../../components/palette/palette
      +palette([
        ["Dark Shade 100%", "#1F2041", 1], 
        ["Dark Shade 75%", "#1F2041", 0.75], 
        ["Dark Shade 50%", "#1F2041", 0.50],
        ["Dark Shade 25%", "#1F2041", 0.25],
        ["Dark Shade 5%", "#1F2041", 0.05],
        ["Purple", "#BC9CFF", 1],
        ["Green", "#6FCF97", 1]
      ])
      dl.type-samples
        dt.type-samples__h1-label H1
        dd.type-samples__text 
          h1.type-samples__h1-text This one is the sub-section or widget title
        dt.type-samples__h2-label H2
        dd.type-samples__text
          h2.type-samples__h2-text Next one is the item title inside widgets
        dt.type-samples__h3-label H3 
        dd.type-samples__text
          h3.type-samples__h3-text This is a label or CTA text
        dt.type-samples__body-label Body
        dd.type-samples__text
          p.type-samples__body-text  This is the body text which is used for most of the design, like paragraphs, lists, etc.   
            
            

